{% extends 'base.html.twig' %}

{% block title %}Business Finder{% endblock %}

{% block body %}
	<h1>Business Finder</h1><br>
	<div class="row">
		<div class="col align-middle">
			<h3>Business:</h3>
		</div>
		<div class="col text-right">
			<a href="/admin/business/new" class="btn btn-success" role="button">Add Business</a>
		</div>
	</div>
	<br>
	{% if business %}
		<div class="list-group w-100">
			{% for company in business %}
				<a href="/business/view/id/{{company.id}}" class="list-group-item list-group-item-action flex-column align-items-start">
					<div class="d-flex w-100 justify-content-between">
						<h3>{{ company.title }}</h3>
					</div>
					<p class="mb-1">In {{ company.getListCategories() }}</p>
				</a>
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}